
<%= form_for @sound, html: {multipart: true} do |f| %>



  <%= f.label :title %>
  <%= f.text_field :title %>
  <br><br>

  <%= f.label :info %>
  <%= f.text_field :description %>
  <br><br>

  <%= label_tag :tag %>
  <%= text_field_tag :tag %>
  <br><br>

  <div class="uploadbutton">
  <%= f.cl_upload :sound %>
  </div>
  <br>

  <%= f.submit 'Create Sound', :class => 'submitbutton' %>

<% end %>
