

<p>You searched for: <%= @search %></p>
<p><%= @result.length + @multisearch.length %> results.

<!-- if no results say no matches -->
<% if @result.length && @multisearch.length == 0 %>
  <p>No matches.</p>
<% end %>

<!-- search for tags -->

<% @result.uniq.each do |r| %>
<h3><%= link_to r.title, sound_path(r) %>
  <audio id="<%= r.id%>"> <source src="<%= r.sound%>"> </audio>
  <img src="assets/speaker.png" class="speaker" onclick="document.getElementById(<%= r.id%>).play()"></h3>
<br>
<% end %>

<!-- uniq -->


<!-- search for titles of sounds -->
<!-- < @titleresult.uniq.each do |r| %> -->



<% @multisearch.uniq.each do |r| %>
<h3><%= link_to r.title, sound_path(r) %>
  <audio id="<%= r.id%>"> <source src="<%= r.sound%>"> </audio>
  <img src="assets/speaker.png" class="speaker" onclick="document.getElementById(<%= r.id%>).play()"></h3>

<br>
<% end %>


<div class="sound"></div>
