<h1><%= @sounds.title %></h1>

<div class="sound"></div>

<div style="text-align: center">
  <button class="btn">
    Play
  </button>


  <button class="buttonDownload"><a href="http://res.cloudinary.com/dsxf8cujo/video/upload/v1497938309/<%= @sounds.image %>.wav" download>Download</a></button>

  </p>
</div>

<p><%= @sounds.description %></p>


<p>Uploaded by: <%= link_to @sounds.user.name, user_path(@sounds.user) %>


<!-- display tags -->
<p>Tags:
  <% @sounds.tags.each do |tag| %>

     <%= link_to tag.name, search_path(:q => tag.name) %>

  <% end %>





</p>

<% if @current_user == @user || @current_user.is_admin %>

<%= link_to 'Edit', edit_sound_path %> |
<%= link_to "Delete", @sound, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>


<script>

$(document).ready(function(){


  // old code before cloudinary
  var play = "<%= @sounds.image %>";

  // new code that works with cloudinary
  var cloudsound ="http://res.cloudinary.com/dsxf8cujo/video/upload/v1497938309/<%= @sounds.image %>.wav"

  // var cloudsound ="http://res.cloudinary.com/dsxf8cujo/video/upload/v1497938309/<%= @sounds.image %>.wav"

  wavesurfer.load(cloudsound);

  $(".sound").click(function() {
   wavesurfer.playPause()

  });
  $(".btn").click(function() {
   wavesurfer.playPause()


  });


});

</script>
