<h1><%= @sounds.title %></h1>

<div class="sound"></div>

<div style="text-align: center">
  <!-- <button class="btn">
    Play
  </button> -->
  <%= link_to 'Download', @sounds.sound,:class=>"download"  %>

  </p>
</div>




<!-- this is the cloudinary line in the show page -->
<%= cl_image_tag @sounds.image %>





<p><%= @sounds.description %></p>


<p>Uploaded by: <%= link_to @sounds.user.name, user_path(@sounds.user) %>


<!-- display tags -->
<p>Tags:
  <% @sounds.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>

<br><p>Plays: <%= @sounds.plays %></p>



</p>


<%= link_to 'Edit', edit_sound_path %>
<br><br>
<%= link_to "Delete", @sound, method: :delete,
                                  data: { confirm: "You sure?" } %>


<script>

$(document).ready(function(){

  // var sound = <% @playsound %>;

  var play = "<%= @sounds.sound %>";
  wavesurfer.load(play);

  $(".sound").click(function() {
   wavesurfer.playPause()
  });
  $(".btn").click(function() {
   wavesurfer.playPause()
  });

});

</script>
