<h1><%= @sounds.title %></h1>

<audio controls>
  <source src="<%= @sounds.sound %>" type="audio/mpeg">
</audio>

<p><%= @sounds.description %></p>
<p><%= @sounds.user_id %></p>

<!-- display tags -->
<p>Tags:
  <% @sounds.tags.each do |tag| %>
    <%= tag.name %>
  <% end %>




</p>


<%= link_to 'Edit', edit_sound_path %>

<%= link_to "delete", @sound, method: :delete,
                                  data: { confirm: "You sure?" } %>
