<!DOCTYPE html>
<html>
  <head>

    <title>Soundslap</title>
    <%= csrf_meta_tags %>

    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>







  </head>

  <body>


    <header>
    <div class="container">
      <div class="row">
        <div class="col-md-2">

          <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
            <%= link_to 'Sounds', sounds_path %></a>
            <%= link_to 'Upload', new_sound_path %></a>
            <a href="#">Link 3</a>
            </div>
          </div>

        </div>


        <div class="col-md-6">

          <h1 class="logo">Sound Slap</h1>

          <img class='hand' src="/assets/slap.ico" alt="">

          <% unless @current_user.present? %>
          <div class="login">
          <%= link_to 'Login', login_path %> |
          <%= link_to 'Signup', new_user_path %>
          </div>
          <% else %>
          <p class='login'>Hello, <%= link_to @current_user.name, user_path(@current_user) %>
          - <%= link_to 'Logout', login_path, method: :delete %>
          </p>
          <% end %>

        </div>






        <div class="col-md-2">

          <div class="search_form">
            <%= form_tag("/search", method: "get") do %>
            <%= label_tag(:q, "") %>
            <%= text_field_tag(:q,:"", placeholder: "Search", :class => 'searchfield') %>
            <%= image_submit_tag("/assets/mag.png", :class => 'mag')%>
            <% end %>
          </div>

        </div>




      </div>
      <!-- row -->


    </div>
    <!-- container -->

























    </header>

        <div id='main'>

          <article><%= yield %></article>


          <nav>


          </nav>


          <aside></aside>


        </div>


        <footer><br> About | Terms of Use</footer>




















  </body>
</html>
