<!DOCTYPE html>
<html>
  <head>

    <title>Soundslap</title>
    <%= csrf_meta_tags %>
    
    <%= cloudinary_js_config %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>


  </head>

  <body>




    <header><h1 class="logo">Sound Slap</h1>

      <img class='hand' src="/assets/slap.ico" alt="">

      <div class="search_form">
      <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "") %>
        <%= text_field_tag(:q,:attr, placeholder: "Search", :class => 'searchfield') %>
        <%= image_submit_tag("/assets/mag.png", :class => 'mag')%>

      <% end %>
      </div>









      <% unless @current_user.present? %>
      <div class="login">
      <%= link_to 'Login', login_path %> |
      <%= link_to 'Signup', new_user_path %>
      </div>
      <% else %>
      <p class='login'>Hello, <%= link_to @current_user.name, user_path(@current_user) %>
      - <%= link_to 'Logout', login_path, method: :delete %>
      </p>
      <% end %>


        <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
        <%= link_to 'Sounds', sounds_path %></a>
        <%= link_to 'Upload', new_sound_path %></a>
        <a href="#">Link 3</a>
        </div>
      </div>

































    </header>

        <div id='main'>

          <article><%= yield %></article>


          <nav>


          </nav>


          <aside></aside>


        </div>


        <footer>About | Terms of Use</footer>





















  </body>
</html>
